<% layout('../layout') -%>
<form id="deploy">
    <div class="mainblock">
        <div class="max">
            <h1>Mortgage Bond Contract Deployment</h1>
            <p class="serif">We&nbsp;create mortgage bond contract. When you click on&nbsp;the button, «Deploy» mortgage is&nbsp;created. The system provides access to&nbsp;the data of&nbsp;the participants involved in&nbsp;a&nbsp;deal.</p>
            <ul class="data-list">
                <li>
                    <div class="label">Pledgor
                        <div class="help" title="Ethereum address of bank"></div>
                    </div>
                    <!-- end .label-->
                    <div class="input"><a class="input-link" onclick="setMetamaskAddress(this)"><img src="/fox.svg" alt=""></a>
                        <input id="bank" name="bank" value="<%= bank %>" type="text" placeholder="Bank Adderss">
                    </div>
                    <!-- end .input--> 
                </li>
                <li>
                    <div class="label">Pledgee</div>
                    <!-- end .label-->
                    <div class="input"><a class="input-link" onclick="setMetamaskAddress(this)"><img src="/fox.svg" alt=""></a>
                        <input id="borrower" name="borrower" value="<%= borrower %>" type="text" placeholder="Pledgee Adderss">
                    </div>
                    <!-- end .input--> 
                </li>
                <li>
                    <div class="label">Depository</div>
                    <!-- end .label-->
                    <div class="input"><a class="input-link" onclick="setMetamaskAddress(this)"><img src="/fox.svg" alt=""></a>
                        <input id="depository" name="depository" value="<%= depository %>" type="text" placeholder="Depository Adderss">
                    </div>
                    <!-- end .input--> 
                </li>
                <li>
                    <div class="label">State Registry</div>
                    <!-- end .label-->
                    <div class="input"><a class="input-link" onclick="setMetamaskAddress(this)"><img src="/fox.svg" alt=""></a>
                        <input id="registry" name="registry" value="<%= registry %>" type="text" placeholder="State Registry Adderss">
                    </div>
                    <!-- end .input--> 
                </li>
            </ul>
            <!-- end .data-list--> 
        </div>
        <!-- end .max-->
        <div class="hr"></div>
        <div class="max">
            <div class="for-btn">
                <button type="submit" class="btn btn-blue">Deploy<span id="spinner"><i class="fa fa-spinner fa-spin"></i></span></button>
            </div>
            <!-- end .for-btn--> 
        </div>
        <!-- end .max--> 
    </div>
    <!-- end .mainblock-->
</form>