<% layout('../layout') -%>
<div class="mainblock">
    <div class="max">
        <h1>Successfully Completed</h1>
        <p>Contract execution has been completed successfully.<br>You've just saved <b>215 days</b> and <b>1 500 000 $</b></p>
            <div class="for-btn"><a class="btn btn-blue" href="/">Return to Homepage</a> </div>
            <!-- end .for-btn--> 
    </div>
    <!-- end .max--> 
</div>
<!-- end .mainblock-->
