<% layout('../layout') -%>
<div class="jumbotron" style="margin-top: 100px;">
  <div class="container">
    <h1>Завершено успешно</h1>
    <p>Исполнение контракта завершено успешно. Вы только сэкономили 215 дней и 1 500 000 $.</p>
    <p><a class="btn btn-primary btn-lg" href="/" role="button">На главную »</a></p>
  </div>
</div>