<% layout('../layout') -%>
<div class="jumbotron" style="margin-top: 100px;">
  <div class="container">
    <h1>Завершено успешно</h1>
    <p>Исполнение контракта завершено успешно.<br>Вы только что сэкономили <b>215 дней</b> и <b>1 500 000 $</b>.</p>
    <p><a class="btn btn-primary btn-lg" href="/" role="button">На главную »</a></p>
  </div>
</div>
