<% layout('../layout') -%>
<div class="jumbotron" style="margin-top: 100px;">
  <div class="container">
    <h1>Successfully Completed</h1>
    <p>Contract execution has been completed successfully.<br>You've just saved <b>215 days</b> and <b>1 500 000 $</b></p>
    <p><a class="btn btn-primary btn-lg" href="/" role="button">Return to Homepage »</a></p>
  </div>
</div>
