<% layout('../layout') -%>
<h1>Исполнениe контракта ипотечной закладной<br><span class="text-muted"><%= address %></span></h1>
<hr>
<h2>Текущий статус</h2>
<br>
<div class="col-md-10 col-md-offset-1">
    <form id="deploy" class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-2 control-label text-muted">Оригинатор</label>
            <label class="col-sm-8 form-control-static">Создан контракт <%= address %></label>
            <div class="col-sm-2">
                <i class="fa fa-2x fa-check-square-o"></i>
            </div>
        </div>
    </form>
    <form id="deploy" class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-2 control-label text-muted">Банк</label>
            <label class="col-sm-8 form-control-static">Подписано</label>
            <div class="col-sm-2">
                <i class="fa fa-2x fa-square-o"></i>
            </div>
        </div>
    </form>
</div>

<h2>Ожидается</h2>
<br>
<div class="col-md-10 col-md-offset-1">
    <form id="deploy" class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-2 control-label text-muted">Оригинатор</label>
            <label class="col-sm-8 form-control-static">Создан контракт <%= address %></label>
            <div class="col-sm-2">
                <i class="fa fa-2x fa-check-square-o"></i>
            </div>
        </div>
    </form>
    <form id="deploy" class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-2 control-label text-muted">Банк</label>
            <label class="col-sm-8 form-control-static">Подписано</label>
            <div class="col-sm-2">
                <i class="fa fa-2x fa-square-o"></i>
            </div>
        </div>
    </form>
</div>