<% layout('../layout') -%>
<form id="execution">
    <div class="mainblock">
        <div class="pic-check green"></div>
        <h1 class="small">Mortgage Bond Contract
            <div class="break">0x0ecf2e79b76e0ed928aaf12b2f52eb6957c54d21</div>
            has been successfully created!</h1>
        <div class="max">
            <p class="serif center">You can make changes and approve them:</p>
            <ul class="check-list">
                <li>
                    <div class="label">Originator </div>
                    <!-- end .label-->
                    <div class="text"><strong>Contract deployed at</strong>
                        <div class="break"><%= address %></div>
                    </div>
                    <!-- end .text-->
                    <div class="check-status green"></div>
                </li>
                <li>
                    <div class="label">Pledgee
                        <div class="help" title="Could change Interest Rate"></div>
                    </div>
                    <!-- end .label-->
                    <div class="text action-todo"><a class="btn btn-small btn-border" onclick="onExecuteStep(this)">Change Contract Rate</a></div>
                    <!-- end .text-->
                    <div class="text action-done" style="display: none;">Contract rate has been changed</div>
                    <!-- end .text-->
                    <div class="check-status grey"></div>
                </li>
                <li>
                    <div class="label">Pledgor</div>
                    <!-- end .label-->
                    <div class="text"><a class="btn btn-small btn-border" onclick="onExecuteStep(this)">Approve</a></div>
                    <!-- end .text-->
                    <div class="text action-done" style="display: none;">Approved</div>
                    <!-- end .text-->
                    <div class="check-status grey"></div>
                </li>
                <li>
                    <div class="label">State Registry</div>
                    <!-- end .label-->
                    <div class="text"><a class="btn btn-small btn-border" onclick="onExecuteStep(this)">Approve</a></div>
                    <!-- end .text-->
                    <div class="text action-done" style="display: none;">Approved</div>
                    <!-- end .text-->
                    <div class="check-status grey"></div>
                </li>
            </ul>
            <!-- end .data-list--> 
        </div>
        <!-- end .max-->
        <div class="hr"></div>
        <div class="max">
            <div class="for-btn">
                <button class="btn btn-blue" type="submit" disabled="disabled" id="btn-submit">Finalize</button>
            </div>
            <!-- end .for-btn--> 
        </div>
        <!-- end .max--> 
    </div>
    <!-- end .mainblock-->
</form>