<% layout('../layout') -%>
<form id="finalization">
    <div class="mainblock">
        <div class="pic-check grey" id="all-done"></div>
        <h1 class="small">Mortgage Bond Contract
            <div class="break">0x0ecf2e79b76e0ed928aaf12b2f52eb6957c54d21</div>
            Finalisation Status</h1>
        <div class="max">
            <ul class="check-list result">
                <li>
                    <div class="label">Pawnbroker</div>
                    <!-- end .label-->
                    <div class="text" id="fin-step-1">Waiting for counterparty...</div>
                    <!-- end .text-->
                    <div class="check-status grey"></div>
                </li>
                <li>
                    <div class="label">Pledgor</div>
                    <!-- end .label-->
                    <div class="text" id="fin-step-2">Waiting for counterparty...</div>
                    <!-- end .text-->
                    <div class="check-status grey"></div>
                </li>
                <li>
                    <div class="label">State Registry</div>
                    <!-- end .label-->
                    <div class="text" id="fin-step-3">Waiting for counterparty...</div>
                    <!-- end .text-->
                    <div class="check-status grey"></div>
                </li>
            </ul>
            <!-- end .data-list--> 
        </div>
        <!-- end .max-->
        <div class="hr"></div>
        <div class="max">
            <div class="for-btn">
                <button class="btn btn-blue" type="submit" disabled="disabled" id="btn-submit">Done</button>
            </div>
            <!-- end .for-btn--> 
        </div>
        <!-- end .max--> 
    </div>
    <!-- end .mainblock-->
</form>