<% layout('../layout') -%>
<div class="mainblock">
	<div class="max">
		<h1>Mortgage Bond Contract</h1>
		<p class="serif">Our demo will show you how to&nbsp;create a&nbsp;mortgage security, a&nbsp;confirmation of&nbsp;a&nbsp;deal among all the concerned parties. With the help of&nbsp;the blockchain technology, the terms of&nbsp;mortgage security will be&nbsp;changed.</p>
		<div class="for-btn"> <a class="btn btn-blue" href="deploy/">Start!</a> </div>
		<!-- end .for-btn--> 
	</div>
	<!-- end .max--> 
</div>
<!-- end .mainblock--> 