@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.css');

#spinner {
  display: none;
  margin-left: 0.7em;
}

.bankex-logo {
	position: absolute;
	right: 30px;
	bottom: 30px;
    width: 189px;
    height: 59px;
    text-align: left;
    text-indent: -10000px;
    background: url(/logo.svg) no-repeat 0 50%;
    background-size: contain;
}