<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width">
	<title><%= title %></title>
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.css" rel="stylesheet" type="text/css">
	<link href="/css.css" rel="stylesheet" type="text/css">
	<link href="/style.css" rel="stylesheet" type="text/css">
</head>
<body>
	<div class="mainwrap">
		<div class="bg-top"></div>
		<header class="header">
			<div class="container">
				<div class="logo"><img src="/logo.svg" alt=""></div>
				<!-- end .logo-->
				<h2>Mortgage Bond Contract Demo</h2>
			</div>
			<!-- end .container--> 
		</header>
		<!-- end .header-->
		<div class="wrapper">
			<div class="container">
				<%- body -%>
			</div>
			<!-- end .container--> 
		</div>
		<!-- end .wrapper-->
		<footer class="footer">
			<div class="container">
				<div>© 2017 BANKEX</div>
				<div>Go to <a href="https://bankex.com">bankex.com</a></div>
			</div>
			<!-- end .container--> 
		</footer>
		<!-- end .footer--> 
	</div>
	<!-- end .mainwrap-->
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
	<script src="/scripts.js"></script>
</body>
</html>